<!DOCTYPE html>
<html>

<head>
  <title>A Steemit Web App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div id="container" class="container">

      <div class="row">
        <div class="form-group col-6">
          <label>User Name</label>
          <input class="form-control" type="text" v-model.lazy="user">
        </div>
      </div>
      <pre>{{ userData }}</pre>
      <div class="row">
        <div class="container">
          <h2 class="col-12">{{user}}</h2>
        </div>
        <div class="container">
          <img v-bind:src="userData.profile_image" />
          <br /><br />
        </div>
        <div class="container">
          <ul class="list-group">
            <li class="list-group-item">
              <p><i class="fa fa-star"></i> XP: {{userData.xp}}</p>
            </li>
            <li class="list-group-item">
              <p><i class="fa fa-plug"></i> Power: {{userData.power}}</p>
            </li>
            <li class="list-group-item">
              <p><i class="fa fa-user"></i> Following: {{userData.following_count}}</p>
            </li>
            <li class="list-group-item">
              <p><i class="fa fa-user-o"></i> Follower: {{userData.follower_count}}</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">

        <div class="col-4">
          <h2>Followers</h2>
          <ul class="list-group">
            <li class="list-group-item" v-for="p in followers">
              {{ p.name }}
            </li>
          </ul>
        </div>

        <div class="col-4">
          <h2>Following</h2>
          <ul class="list-group">
            <li class="list-group-item" v-for="p in following">
              {{ p.name }}
            </li>
          </ul>
        </div>

        <div class="col-4">
          <h2>Muted</h2>
          <ul class="list-group">
            <li class="list-group-item" v-for="p in ignored">
              {{ p.name }}
            </li>
          </ul>
        </div>

      </div>

      <!-- Follow user -->
      <div class="row">
        <div class="col-12">
          <input class="form-control" type="text" v-model="wif" placeholder="Enter your WIF ie posting key" />
          <input class="form-control" type="text" v-model="followUser" placeholder="User you want to follow" />
          <button class="btn btn-default" v-on:click="follow">Follow</button>
        </div>
      </div>

  </div>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/bluebird/3.5.0/bluebird.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="http://cdn.steemjs.com/lib/latest/steem.min.js"></script>
  <script src="http://unpkg.com/vue"></script>


  <script>
      // Steem js config
      //steem.config.set('websocket','wss://this.piston.rocks');
      steem.api.setOptions({ url: 'https://api.steemit.com'});
      // Vue object
      {
        // Set up viewmodel for Vue.js
        let vm = new Vue({
          el: '#container',
          data: {
            user: 'amanmender', //jfollas
            userData: {
              profile_image: "",
              level: 0,
              xp: 0,
              power: 0,
              following_count: 0,
              follower_count: 0
            },
            followers: [],
            following: [],
            ignored: [],
            wif: "",
            followUser: []
          },
          // Set up watcher to detect changes
          watch: {
            // Detect changing user
            user: function (u) {
              setDefaultUserProfilePic()
              refreshAccountData(u)
            }
          },
          methods: {
            follow: function(e) {
              console.log("Trying to follow user");
              //console.log(this._data);
              //console.log(this._data.userData);
              console.log(this.user);
              console.log(this.wif);
              console.log(this.followUser);
              if(this.wif) {
                followUser(this.user,this.followUser,["blog"],this.wif);
              }
            }
          }
        })
        // Calculate reputation
          // Format to get whole number
          function calcLevel(v) {
            return Math.floor(calcReputation(v))
          }
          // Format to get percentage
          function calcXP(v) {
            let r = calcReputation(v);
            return 100 * (r - Math.floor(r))
          }
          // Helper function to calculate
          function log10(str) {
            let $str = str.toString()
            const leadingDigits = parseInt($str.substring(0, 4))
            const log = Math.log(leadingDigits) / Math.log(10)
            const n = $str.length - 1
            return n + (log - parseInt(log))
          }
          // Reputation calculation
          function calcReputation(value) {
            if (value == null || value == 0) return 0;

            let neg = value < 0
            let reputation_level = log10(value) - 9;
            if (reputation_level < 0) reputation_level = 0;
            if (neg) reputation_level *= -1;

            return reputation_level * 9 + 25;
          }

        // Get user assets
          // Profile Pic
          function setDefaultUserProfilePic() {
            vm.$set(vm.userData, 'profile_image', 'https://www.gravatar.com/avatar/000000000000000000000000000000000?d=mm&amp;f=y')
          }
          // Continually update user depending upon username
          function refreshAccountData(accountName) {
            // Bluebird promisify
            return steem.api.getAccountsAsync([accountName])
              .then(function (result) {
                console.log(result);
                // Found no user
                if (result.length == 0) {
                  vm.userData = {
                    profile_image: "",
                    level: 0,
                    xp: 0,
                    power: 0
                  }
                  return
                }
                // Try catch to keep trying to get user
                try {
                  let profile = JSON.parse(result[0].json_metadata).profile

                  if (profile.profile_image != null) {
                    vm.$set(vm.userData, 'profile_image', profile.profile_image)
                  }
                }
                catch (err) {
                  do_setDefaultUserProfilePic()
                }
                // Set userdata received
                vm.$set(vm.userData, 'level', calcLevel(result[0].reputation))
                vm.$set(vm.userData, 'xp', calcXP(result[0].reputation))
                vm.$set(vm.userData, 'power', result[0].voting_power / 100)

                // Get followers
                steem.api.getFollowCountAsync(accountName)
                  .then(function (result) {
                    vm.$set(vm.userData, 'follower_count', result.follower_count)
                    vm.$set(vm.userData, 'following_count', result.following_count)
                  })
                .catch(console.error)

                // List followers, following and ignored
                getFollowersList();
                getFollowingList();
                getIgnoredList();


              })
              .catch(console.error)
          }
        // Initate function to get user first time
        refreshAccountData(vm.user);

        // Get followers listed
        let getFollowersList = P.coroutine(function* () {
          let start = '', count = 0
          vm.followers = []
          do {
            yield steem.api.getFollowersAsync(vm.user, start, 'blog', 1000)
              .then(function (result) {
                start = ''
                count = result.length

                for (let i = 0; i < count; i++) {
                  let entry = { name: result[i].follower }
                  start = entry.name
                  vm.followers.push(entry)
                }
              })
          } while (count === 1000);
        })
        // Get following listed
        let getFollowingList = P.coroutine(function* () {
          let start = '', count = 0
          vm.following = []
          do {
            yield steem.api.getFollowingAsync(vm.user, start, 'blog', 100)
              .then(function (result) {
                start = ''
                count = result.length

                for (let i = 0; i < count; i++) {
                  let entry = { name: result[i].following }
                  start = entry.name
                  vm.following.push(entry)
                }
              })
          } while (count === 100);
        })
        // Get Ignored listed
        let getIgnoredList = P.coroutine(function* () {
          let start = '', count = 0
          vm.ignored = []
          do {
            yield steem.api.getFollowingAsync(vm.user, start, 'ignore', 100)
              .then(function (result) {
                start = ''
                count = result.length

                for (let i = 0; i < count; i++) {
                  let entry = { name: result[i].following }
                  start = entry.name
                  vm.ignored.push(entry)
                }
              })
          } while (count === 100);
        })
        // Get Trending Tags
        let getTagsList = P.coroutine(function* () {
          let start = ''
          let count = 0
          let allTags = []

          do {
            yield steem.api.getTrendingTagsAsync(start, 1000)
              .then(function (result) {
                if (result == null || result.length == 0) {
                  count = 0
                } else {
                  count = result.length
                  start = result[count - 1].name
                  Array.prototype.push.apply(allTags, result)
                }
              })
              .catch(function(err) {
                // There seems to be an error in the data or node code that causes requests
                // at the bottom of the list to fail (i.e., data after tag "yunks"). For the
                // sake of this demo, we will just exit
                count = 0;
              })
          } while (count === 1000);

          return allTags
        })

        // Find similiar tags
        function findSimilarTags (allTags, tag) {
          const input = tag.toLowerCase()
          const filtered = _.filter(allTags, function(t) {
            return t.name === input || t.name === _.deburr(input) || t.name === input.replace(/\W/g, '')
          })
          console.log(filtered)
        }

        //findSimilarTags(allTags, "steem-dev")
        //getTagsList().then(console.log)

        // Posting functions
        let followUser = function(follower,following,what,wif) {
          let followReq = ["follow"]
          followReq.push({follower: follower, following: following, what: what})
          //followReq.push({follower: "you", following: "someone_else", what: ["blog"]})

          const customJson = JSON.stringify(followReq)

          steem.broadcast.customJsonAsync(wif, [], [follower], "follow", customJson)
          .then(console.log)
          .catch(console.log)
        }


      }
    </script>


</body>

</html>
